{% extends "base.html" %}
{% load static %}

{% load wagtailcore_tags wagtailimages_tags dump_tag %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/greenlife-quotes.css' %}">
{% endblock %}

{% block content %}

<article class="blog">
    {% if page.summary %}
        <h1>{{ page.summary }}</h1>
    {% else %}
        <h1>{{ page.title }}</h1>
    {% endif %}

    {{ page.body|richtext }}

    {% if page.tags.all.count %}
        <div class="tags">
            <h4>Tags:</h4>
            {% for tag in page.tags.all %}
                <a href="{% slugurl 'tags' %}?tag={{ tag }}"> {{ tag }} </a>
            {% endfor %}
        </div>
    {% endif %}

<!--    <p><a href="{{ page.get_parent.url }}">Return to blog</a></p>-->
    <div class="sharethis-inline-share-buttons"></div>

</article>
{% endblock %}
