{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags dump_tag %}

{% block body_class %}template-greenhabitsindexpage{% endblock %}

{% block content %}
    <main class="main__container GHIndex__page">
        <header class="main__header">
            <h1 class="main__title">{{ page.title }}</h1>
        </header>
        <section class="main__content">
            {% for post in greenhabitspages %}
                {% with post=post.specific %}
                    <h2> {{ post.id }} <a href="{% pageurl post %}">{{ post.title }}</a> {{ forloop.counter }}</h2>
                    {{ post.body|richtext }}
                    {{ post.links|richtext }}
                {% endwith %}
            {% endfor %}
        </section>
    
    </main>
{% endblock %}

