{% extends "base.html" %}
{% load static %}

{% load wagtailcore_tags wagtailimages_tags dump_tag %}

{% block body_class %}template-quotepage{% endblock %}

{% block content %}
<main class="article main__container nudge__page">
    <header class="main__header">
    
        <a class="logo__container" href="https://greenlife.cloud/notifications/today">
            <img class="logo" alt="Green Life: sustainable tips to save the environment"
                src="https://{{request.META.HTTP_HOST}}{% static 'images/svg/GLlogo-w.svg' %}"/>
        </a>

        <h1 class="main__title">{{ page.title }}</h1>
    
    </header>
    


    <div id="app-available" class="app-download__container" style='display: none'>
        <p class="app-download__intro">Read more on the app</p>
        <a class="app-download__item" id='android-app-available' style='display: none' href="https://apps.apple.com/us/app/green-lifestyle/id1484892517?ls=1">
            <img alt="Green Life on App Store" src="https://{{request.META.HTTP_HOST}}{% static 'images/svg/app-store-download.svg' %}"/>
        </a>
        <a class="app-download__item" id='ios-app-available' style='display: none' href="https://play.google.com/store/apps/details?id=lastchance.greenlife.quotes">
            <img alt="Green Life on Play Store" src="https://{{request.META.HTTP_HOST}}{% static 'images/svg/google-play-download.svg' %}"/>
        </a>
    </div>

    <section class="main__content">
        
        {{ page.body|richtext }}

        <section id="nudge-links" class="nudge__links">
            {{ page.links|richtext }}
        </section>

        <div class="sharethis-inline-share-buttons"></div>

        {% if false and page.tags.all.count %}
        <div class="tags">
            <h4>Tags:</h4>
            {% for tag in page.tags.all %}
            <!-- FIXME -->
            <!-- <a href="{% slugurl 'tags' %}?tag={{ tag }}">{{ tag }}</a> -->
            {% endfor %}
        </div>
        {% endif %}

<!--        <div id="app-available-desktop-banner" class="app-banner" style='display: none'>-->
<!--            <h4>Become carbon neutral the easy way</h4>-->
<!--            <ul>-->
<!--                <li>-->
<!--                    <a href="https://apps.apple.com/us/app/green-lifestyle/id1484892517?ls=1">-->
<!--                        <img alt="Green Life on App Store" src="https://{{request.META.HTTP_HOST}}{% static 'images/svg/app-store-download.svg' %}"/>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a href="https://play.google.com/store/apps/details?id=lastchance.greenlife.quotes">-->
<!--                        <img alt="Green Life on Play Store" src="https://{{request.META.HTTP_HOST}}{% static 'images/svg/google-play-download.svg' %}"/>-->
<!--                    </a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->

        {# <p><a href="{{ page.get_parent.url }}">Return to blog</a></p>#}
</section>
</main>

{% endblock %}