{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/greenlife-quotes.css' %}">
{% endblock %}

{% load wagtailcore_tags wagtailimages_tags dump_tag %}

{% block body_class %}template-quotepage{% endblock %}

{% block content %}
<article>
    <img alt="Green Life Logo" src="{% static 'images/svg/GLlogo.svg' %}"/>

    <div class="app-available">
        <div id='ios-app-available' style='display: none'>
            <a href="https://apps.apple.com/us/app/green-lifestyle/id1484892517?ls=1">
                <img alt="Green Life on App Store" src="{% static 'images/svg/app-store-download.svg' %}"/>
            </a>
        </div>

        <div id='android-app-available' style='display: none'>
            <a href="https://play.google.com/store/apps/details?id=lastchance.greenlife.quotes">
                <img alt="Green Life on Play Store" src="{% static 'images/svg/google-play-download.svg' %}"/>
            </a>
        </div>
    </div>


    <h1>{{ page.title }}</h1>

    {{ page.body|richtext }}
    {{ page.links|richtext}}

    <p class="source">{{ page.source }}</p>

    {% if false and page.tags.all.count %}
    <div class="tags">
        <h4>Tags:</h4>
        {% for tag in page.tags.all %}
        <!-- FIXME -->
        <!-- <a href="{% slugurl 'tags' %}?tag={{ tag }}">{{ tag }}</a> -->
        {% endfor %}
    </div>
    {% endif %}

    {#    <p><a href="{{ page.get_parent.url }}">Return to blog</a></p>#}
</article>
{% endblock %}
