{% extends "base.html" %}
{% load i18n static wagtailcore_tags %}

{% block content %}
<main>
    <img alt="Green Life Logo" src="{% static 'images/svg/GLlogo.svg' %}"/>
    <h2>

        <a href="https://www.crowdfunder.co.uk/green-life">
            3 DAYS LEFT IN OUR CROWDFUNDING <br/>
            Share if you care 🤝<br/>
            ️</a>

        <a href="https://greenlife.cloud/contribute">Green Life needs you!</a><br/>
    </h2>

    <h2>{% trans "Time for change is now" %}</h2>
    <!--        <h1>{% trans "Change is Us" %}</h1>-->
    <p class="center">We can live a sustainable life. Our carbon trail can be reduced and our soul can be saved in the
        process. It's
        about the sum all of the little things. It's about
        all of us shifting to the green side. Our soul is green. There is hope because the sum of all of our habits can
        make a tremendous different.
        The suggestion made by Green Life ultimately help you live a simpler life</p>
    <p class="center">Sustainable habits is gratitude for the wealth nature has granted us. Adopting a simple life helps
        you
        connect with what matters. It naturally leads to mindfulness and happiness as we break free from every
        enslaving aspects of modern life.
    </p>
    <ul>
        <a href="https://apps.apple.com/us/app/green-lifestyle/id1484892517?ls=1">
            <li>
                <img alt="Green Life on App Store" src="{% static 'images/svg/app-store-download.svg' %}"/>
            </li>
        </a>
        <a href="https://play.google.com/store/apps/details?id=lastchance.greenlife.quotes">
            <li>
                <img alt="Green Life on Play Store" src="{% static 'images/svg/google-play-download.svg' %}"/>
            </li>
        </a>
    </ul>
</main>
{% endblock %}

{% block post_footer %}
<!--<img src="https://greenlife.cloud/media/images/Homepage_Its_in_our_Hands.original.png" alt="it's in our hands">-->
{% endblock %}
