{% load i18n static wagtailcore_tags %}

<main>
    <img alt="Green Life Logo" src="{% static 'images/svg/GLlogo.svg' %}"/>
    <h1>{% trans "Time for change is now" %}</h1>
    <!--        <h1>{% trans "Change is Us" %}</h1>-->
    <p class="center">We can live a sustainable life. Our carbon trail can minimized and our soul can be saved in the process. It's
        about the sum all of the little things. It's about
        all of us shifting to green side. Our soul is green. There is hope because the sum of all of our habits can
        make a tremendous different.
        The suggestion made by GreenLife ultimately help you live a simpler life</p>
    <p class="center">Sustainable habits is gratitude for the wealth nature has granted us. Adopting a simple life helps you
        connect with what matters. It naturally leads to mindfulness and happiness as we break free from every
        enslaving aspects of modern life.
    <p>
    <ul>
        <li>
            <img alt="Green Life Logo" src="{% static 'images/svg/app-store-download.svg' %}"/>
        </li>
        <li>
            <img alt="Green Life Logo" src="{% static 'images/svg/google-play-download.svg' %}"/>
        </li>
    </ul>
</main>

<footer class="footer" role="contentinfo">
    <!--    <ul>-->
    <!--        <li>-->
    <!--            <h4><a href="/contribute"> {% trans "Contribute" %}</a></h4>-->
    <!--        </li>-->
    <!--    </ul>-->
    <ul>
        <li>
            <a class="option option-one" href="/contribute">
                <h4> {% trans "Contribute" %}</h4>
            </a>
        </li>
        <li>
            <a class="option option-one" href="/about-us">
                <h4> {% trans "About Us" %}</h4>
            </a>
        </li>
    </ul>

</footer>
