{% load static wagtailuserbar i18n %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="GreenLife: daily sustainable habits suggestions" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script src="//cdnjs.cloudflare.com/ajax/libs/mobile-detect/1.3.6/mobile-detect.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/humane-js/3.2.2/humane.min.js"></script>

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/greenlifecms.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-QMK9R5ZBZF"></script>
        <script>
  window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

        gtag('config', 'G-QMK9R5ZBZF');
        </script>
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        {% block content %}{% endblock %}

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/greenlifecms.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}

        <footer class="footer" role="contentinfo">
            <ul>
                <li>
                    <a class="option" title="Where change takes place"  href="/">
                        <h4> {% trans "Home" %}</h4>
                    </a>
                </li>
                <li>
                    <a class="option"  title="Green Life is run by the community. Come join us!"  href="/contribute">
                        <h4> {% trans "Contribute" %}</h4>
                    </a>
                </li>
                <li>
                    <a class="option" title="Add your own suggestion!" href="/admin/pages/add/greenhabits/greenhabitpage/4/">
                        <h4><b> {% trans "+ new green habit" %}</b></h4>
                    </a>
                </li>
                <li>
                    <a class="option" title="Green Life blog" href="/blog">
                        <h4><b> {% trans "Blog" %}</b></h4>
                    </a>
                </li>
                <li>
                    <a class="option" title="About Green Life" href="/about-us">
                        <h4> {% trans "About Us" %}</h4>
                    </a>
                </li>
            </ul>
        </footer>

    </body>


{% block post_footer %}
{% endblock %}

</html>
