{% load static i18n %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %} {% with self.get_site.site_name as site_name %} {% if site_name %} - {{ site_name }}{% endif %} {% endwith %} {% endblock %}
        </title>
        <meta name="description" content="Daily tips about sustainability" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="p:domain_verify" content="868d950e7fd0447d4859c6df71e096bc"/>
        <link rel="shortcut icon" type="image/png" href="https://{{request.META.HTTP_HOST}}{% static 'favicon.ico' %}"/>
        <script src="//cdnjs.cloudflare.com/ajax/libs/mobile-detect/1.3.6/mobile-detect.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'styles/compiled/styles.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}

        {% include "./third-part.html" %}

    </head>

    <body class="{% block body_class %}{% endblock %} dark">
        {% block content %}{% endblock %}

        {# Global javascript #}
        <script type="text/javascript" src="https://{{request.META.HTTP_HOST}}{% static 'js/greenlifecms.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}



        {% block footer %}
            <footer class="main__footer" role="contentinfo">
                <nav class="footer__nav">
                    <ul class="nav__container group">
                        <li class="nav__item">
                            <a class="item__link" title="Where change takes place"  href="/">
                                {% trans "Home" %}
                            </a>
                        </li>
                        <li class="nav__item">
                            <a class="item__link" title="Tip of the day"  href="https://greenlife.page.link/Pa9g">
                                🌱 {% trans "Tip of the day" %}
                            </a>
                        </li>
                        <!-- <li class="nav__item">
                            <a class="item__link" title="Add your own suggestion!" href="/admin/pages/add/greenhabits/greenhabitpage/4/">
                                {% trans "+ new green habit" %}
                            </a>
                        </li> -->
                        <li class="nav__item">
                            <a class="item__link" title="Green Life blog" href="/blog">
                                {% trans "Blog" %}
                            </a>
                        </li>
                        <li class="nav__item">
                            <a class="item__link" title="About Green Life" href="/about-us">
                                {% trans "About" %}
                            </a>
                        </li>
                    </ul>
                </nav>
            </footer>
        {% endblock %}
    </body>
</html>
