h1 {
    text-align: center;
}

article {
    display: flex;
    font-size: 1.1rem;
    margin: 0.5em;
    width: 80vw;
    flex-flow: column;
    align-items: center;
}

@media (min-width: 768px) {
    article {
        max-width: 500px;
    }
    img {
        max-width: 400px;
        height: auto;
    }
}

article ul {
    display: flex;
    flex: 1;
    list-style: circle;
    flex-flow: column;
    padding: 0;
}

.app-available {
    margin-top: 1rem;
    justify-content: center;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.tags {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.tags > * {
    margin: 0 0.5rem;
}

.rich-text {
    font-size: 1.1em;
}

.author {
    font-size: 0.9rem;
    align-self: flex-end;
    margin: 1rem;
}

/*form[class=signup] p {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    flex-grow: 1;*/
/*}*/

.last-revision {
    display: block;
    text-align: right;
}

