
.template-quotepage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*form[class=signup] p {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    flex-grow: 1;*/
/*}*/

.last-revision {
    display: block;
    text-align: right;
}