html {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html, body {
    background-color: #1c1c1c;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    height: 98%;
    font-size: 14px;
}

h1, h2 {
    text-align: center;
}

p, ul, ol {
    font-size: 1.05rem;
    max-width: 400px;
}

@media (min-width: 1024px) {
    p, ul, ol {
        max-width: 560px;
    }
}

img {
    max-width: 400px;
    height: auto;
    align:center;
}

a:link, a:hover, a:active, a:visited {
    color: #18be00;
    text-decoration: none;
    font-weight: normal;
}

button {
    color: green;
    background-color: #1c1c1c;
    border: green;
    cursor: pointer;
}

main {
    width: 100%;
    font-size: 1em;
}

.rich-text {
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 1rem;
}

footer {
}


footer ul {
    list-style: none;
    display: flex;
    flex-flow: wrap;
    padding: 0;
    align-items: center;
    justify-content: center;
    max-width: initial;
}

ul img {
    height: 45px;
    margin-top: 5px;
    max-width: auto;
}

ul {
    margin: 0
}

footer li {
    padding: 0 10px;
}


.template-static-page {
    margin: 0 2em;
    /* padding: 0 2em; */
}

/*form[class=signup] p {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    flex-grow: 1;*/
/*}*/

.responsive-object {
    display: flex;
    padding-bottom: 0 !important;
}

.page {
   display: flex;
   justify-content: center;
   align-items: center;
}

.page span, .page a {
    margin: 1rem;
}