p {
    max-width: 400px;
}

p.center {
    text-align: center;
}

ul {
    list-style: none;
    display: flex;
    flex-flow: wrap;
    padding: 0;
    align-items: center;
    justify-content: space-evenly;
}

li {
    padding: 0 10px;
}

